/**
 * @file about_dialog.rc
 * @brief About dialog displaying version info and credits
 */
#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

/** @brief About dialog with links laid out horizontally */
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 255, 80
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION IDC_ABOUT_TITLE_TEXT
FONT 12, "Microsoft YaHei UI"
BEGIN
    /** Application icon positioned at top-left */
    CONTROL     "",                          IDC_ABOUT_ICON,    "Static", SS_ICON,                   
                                                                          5,  -10, ABOUT_ICON_SIZE, ABOUT_ICON_SIZE

    /** Version and build information */
    LTEXT       "",                          IDC_VERSION_TEXT,          130,  15, 160, 12
    LTEXT       "",                          IDC_BUILD_DATE,            100,  25, 180, 12
    LTEXT       "",                          IDC_COPYRIGHT,             100,  35, 180, 12

    /** Primary credit link positioned centrally */
    CONTROL     "",                          IDC_CREDIT_LINK,    "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          100,  45, 250, 12

    /** Bottom row of clickable links for external resources */
    CONTROL     "",                          IDC_CREDITS,        "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          40,   65,  35, 12
    CONTROL     "",                          IDC_BILIBILI_LINK,  "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          80,   65,  35, 12
    CONTROL     "",                          IDC_GITHUB_LINK,    "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          125,  65,  32, 12
    CONTROL     "",                          IDC_COPYRIGHT_LINK,  "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          165,  65,  36, 12
    CONTROL     "",                          IDC_SUPPORT,         "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          215,  65,  30, 12
END 
