/**
 * @file error_dialog.rc
 * @brief Simple error message display dialog
 */
#include <windows.h>
#include "resource.h"

#pragma code_page(65001)


/** @brief Minimal error message dialog with centered text */
IDD_ERROR_DIALOG DIALOGEX 0, 0, 160, 40
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 12, "Microsoft YaHei UI"
BEGIN
    /** Error message text populated at runtime */
    CTEXT           "", IDC_ERROR_TEXT, 0, 10, 160, 20
END 