#include <windows.h>
#include "resource.h"
#include <commctrl.h>

// 设置 UTF-8 编码
#pragma code_page(65001)

// 热键设置对话框
CLOCK_IDD_HOTKEY_DIALOG DIALOGEX 0, 0, 280, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "",IDC_HOTKEY_LABEL1,14,15,80,8
    CONTROL         "",IDC_HOTKEY_EDIT1,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,13,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL2,14,35,80,8
    CONTROL         "",IDC_HOTKEY_EDIT2,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,33,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL12,14,55,80,8
    CONTROL         "",IDC_HOTKEY_EDIT12,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,53,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL3,14,75,80,8
    CONTROL         "",IDC_HOTKEY_EDIT3,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,73,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL9,14,95,80,8
    CONTROL         "",IDC_HOTKEY_EDIT9,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,93,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL10,14,115,80,8
    CONTROL         "",IDC_HOTKEY_EDIT10,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,113,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL11,14,135,80,8
    CONTROL         "",IDC_HOTKEY_EDIT11,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,133,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL4,14,155,80,8
    CONTROL         "",IDC_HOTKEY_EDIT4,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,153,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL5,14,175,80,8
    CONTROL         "",IDC_HOTKEY_EDIT5,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,173,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL6,14,195,80,8
    CONTROL         "",IDC_HOTKEY_EDIT6,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,193,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL7,14,215,80,8
    CONTROL         "",IDC_HOTKEY_EDIT7,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,213,160,14
    
    LTEXT           "",IDC_HOTKEY_LABEL8,14,235,80,8
    CONTROL         "",IDC_HOTKEY_EDIT8,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,233,160,14
    
    LTEXT           "",IDC_HOTKEY_NOTE,15,265,200,8
    PUSHBUTTON      "",IDCANCEL,170,280,50,14
    DEFPUSHBUTTON   "",IDOK,225,280,50,14
END 