#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 番茄钟时间设置对话框
CLOCK_IDD_POMODORO_TIME_DIALOG DIALOGEX 0, 0, 200, 130
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", CLOCK_IDC_STATIC, 10, 10, 180, 60
    EDITTEXT        CLOCK_IDC_EDIT, 10, 75, 180, 20, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "", CLOCK_IDC_BUTTON_OK, 140, 100, 50, 14
END 