#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 更新提示对话框资源定义
IDD_UPDATE_DIALOG DIALOGEX 0, 0, 160, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 12, "Microsoft YaHei UI"
BEGIN
    CTEXT           "", IDC_UPDATE_TEXT, 0, 10, 160, 40
    CTEXT           "", IDC_UPDATE_EXIT_TEXT, 0, 50, 160, 20
    PUSHBUTTON      "", IDYES, 30, 75, 40, 15
    PUSHBUTTON      "", IDNO, 90, 75, 40, 15
    DEFPUSHBUTTON   "", IDOK, 60, 75, 40, 15, NOT WS_VISIBLE
END 